@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
    --background-color1: black;
    --background-color2: #5e5e5e;
    --font-color: #af924d;
    --font-color2:white;
    --shadow-color1: black;
    --shadow-color2: #8a6c3b;
    --shadow-color3: white;
}

body{
    font-family: "Cinzel", serif;
}

/* HEADER */

.menu{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 6px solid var(--font-color);
    padding: 0px 30px;
}

.logo-header{
    width: 800px;
}

.logo-header img{
    width: 250px;
}

.pages-menu a{
    color: var(--font-color);
    font-size: 2em;
    font-weight: 700;
    text-shadow: 2px 2px 8px var(--shadow-color2);
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px;
}

.pages-menu a:hover{
    color: var(--font-color2);
}

/* MAIN */



/* FOOTER */

.conteudo-footer{
    background-color: var(--background-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid var(--font-color);
    border-bottom: 5px solid var(--font-color);
    padding: 10px 30px;
}

.logo-footer{
    width: 300px;
}

.logo-footer img{
    width: 25%;
}

.copyright p{
    color: var(--font-color);
    text-shadow: 2px 2px 8px var(--shadow-color2);
    font-weight: 500;
}

.menu-footer{
    width: 300px;
    display: flex;
    justify-content: space-around
}

.menu-footer a{
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
    text-shadow: 2px 2px 8px var(--shadow-color2);
    padding: 0px 10px;
}

.menu-footer a:hover{
    color: var(--font-color2);
    
}

.redes-sociais img{
    width: 25px;
    gap: 10px;
}