@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
    --background-color1: black;
    --background-color2: #5e5e5e;
    --background-color3: white;
    --font-color: #af924d;
    --font-color2:white;
    --shadow-color1: black;
    --shadow-color2: #8a6c3b;
    --shadow-color3: white;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Cinzel", serif;
    background-color: var(--background-color2);
}

/* HEADER */

.menu{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 6px solid var(--font-color);
    padding: 0px 30px;
}

.logo-header{
    width: 800px;
}

.logo-header img{
    width: 250px;
}

.pages-menu a{
    color: var(--font-color);
    font-size: 2em;
    font-weight: 700;
    text-shadow: 2px 2px 8px var(--shadow-color2);
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px;
}

.pages-menu a:hover{
    color: var(--font-color2);
}

/* MAIN */

main{
    background-color: var(--background-color2);
}

.menu-atalho{
    
    background-color: var(--background-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;
    padding: 180px 0px;
}

.botoes-atalho:hover >:not(:hover){
    opacity: 0.4;
    transform: scale(0.7);
}

.sobre-botao{
    transition: .35s;
    cursor: pointer;
}


.menu-atalho button{
    background-color: var(--background-color1);
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 5px;
    border: 3px solid var(--font-color);
    padding: 10px 40px;
    margin: 30px 15px;
    
}

.comeco-categoria{
    background-color: black;
    font-size: 30px;
    color: var(--font-color);
    margin: 0px 30px;
    border: 3px solid var(--font-color);
    padding: 10px 0px;

}

.comeco-categoria h1{
    padding-left: 20px;
}

.lista-carros{
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.veiculo{
    margin: 0px 20px;
    background-color: var(--background-color3);
    border-radius: 5px ;
    border: 5px solid var(--font-color);
}

.lista-motos{
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.veiculo h1{
    display: flex;
    justify-content: center;
}

.veiculo h2{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.veiculo p{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.dados{
    display: flex;
    justify-content: center;
}

.dados p{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 10px;
}

.opcoes-pagamentos{
    display: flex;
    justify-content: center;
    margin: 30px;
    text-align: center;
}

tbody th,td{
    background-color: black;
    color: var(--font-color);
    border: 3px solid var(--font-color);
    padding: 10px 30px;
}

/* FOOTER */

footer{
    background-color: var(--background-color2);
}

.conteudo-footer{
    background-color: var(--background-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid var(--font-color);
    border-bottom: 5px solid var(--font-color);
    padding: 10px 30px;
}

.logo-footer{
    width: 300px;
}

.logo-footer img{
    width: 25%;
}

.copyright p{
    color: var(--font-color);
    text-shadow: 2px 2px 8px var(--shadow-color2);
    font-weight: 500;
}

.menu-footer{
    width: 300px;
    display: flex;
    justify-content: space-around
}

.menu-footer a{
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
    text-shadow: 2px 2px 8px var(--shadow-color2);
    padding: 0px 10px;
}

.menu-footer a:hover{
    color: var(--font-color2);
    
}

.redes-sociais img{
    width: 25px;
    gap: 10px;
}

/* RESPONSIVIDADE */

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px)  {
/*HEADER*/
.menu{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 6px solid var(--font-color);
    padding: 0px 30px;
}

.logo-header{
    width: 364px;
}

.logo-header img{
    width: 50%;
}

.pages-menu{
    width: 364px;
    display: flex;
    flex-direction: column;
}

.pages-menu a{
    font-size: 1.5em;
    display: grid;
}

.nav-menu a:hover{
    color: var(--font-color2);
}

/* MAIN */

.menu-atalho{
    display: grid;
    grid-column: 1fr;
    text-align: center;

}

.lista-carros{
    display: grid;
    grid-column: 1fr;
    margin: 30px 30px;;
}

.veiculo{
    margin: 15px 0px;
}

.lista-motos{
    display: grid;
    grid-column: 1fr;
    margin: 30px 30px;
}

/* FOOTER */

.logo-footer{
    width: 300px;
}

.logo-footer img{
    width: 25%;
}

.copyright p{
    font-size: 1em;
    text-align: center;
}

.menu-footer{
    width: 300px;
    display: flex;
    justify-content: space-around
}

.menu-footer a{
    display: grid;
    grid-column: 1fr;
    margin: 5px 0px;
}


.redes-sociais img{
    margin: 2px 0px;
}
}

/* CELULAR */
@media screen and (max-width: 767px)  {
/*HEADER*/

.logo-header{
    width: auto;
}

.logo-header img{
    width: 50%;
}

.pages-menu{
    width: auto;
    display: flex;
    flex-direction: column;
}

.pages-menu a{
    font-size: 1em;
    display: grid;
}


/* MAIN */

.menu-atalho{
    display: grid;
    grid-column: 1fr;
    text-align: center;

}

.lista-carros{
    display: grid;
    grid-column: 1fr;
    margin: 30px 30px;;
}

.veiculo{
    margin: 15px 0px;
}

.veiculo img{
    width: 350px;
}

.lista-motos{
    display: grid;
    grid-column: 1fr;
    margin: 30px 30px;
}

/* FOOTER */

.logo-footer{
    width: 150px;
}

.logo-footer img{
    width: 75%;
}

.copyright p{
    font-size: .8em;
    text-align: center;
}

.menu-footer{
    width: 300px;
    display: flex;
    justify-content: space-around
}

.menu-footer a{
    font-size: .8em;
    display: grid;
    grid-column: 1fr;
    margin: 3px 0px;
}


.redes-sociais img{
    margin: 2px 0px;
}

}